numpy
pandas
matplotlib
seaborn
scikit-learn
scipy
yellowbrick
joblib

jupyter
notebook
ipykernel

plotly
kagglehub

tensorflow
torch
transformers
accelerate

gensim
nltk

langchain
langchain-core
langchain-community
langchain-openai
langchain-huggingface
langchain-chroma

openai

chromadb
sentence-transformers
faiss-cpu

pypdf
beautifulsoup4
arxiv
pymupdf
wikipedia
python-dotenv

tiktoken
unstructured

streamlit

langchain-groq
fastapi
uvicorn
langserve
sse-starlette

numexpr
torchvision
validators
datasets
evaluate
optimum
gradio
youtube-transcript-api
pytube
bs4

langgraph
cassio
tiktoken

langchain-anthropic
langchain-google-genai
langchain-ollama